<div class="main_logo_container">
  <div class="main_logo">
    <img src="" />
  </div>
</div>

<div class="main_cards_container">
 <div class="main_cards_info_container">
    <div class="main_cards_flipcard">
      <Card::Flipcard @imageFront={{imageFrontCardOne}} @imageBack={{imageBackCardOne}} />
    </div>
    <div class="main_cards_flipcard_info">
      <div class="card">
        <div class="container">
          <h4><b>Git Hub</b></h4>
          <p>These are some of my projects</p>
          <a href="https://github.com/roderickdevelopers" style="color: #3F51B5">RoderickDevelopers Github</a>
        </div>
      </div>
    </div>
  </div>
<div class="main_cards_info_container">
    <div class="main_cards_flipcard">
      <Card::Flipcard @imageFront={{imageFrontCardTwo}} @imageBack={{imageBackCardTwo}} />
    </div>
    <div class="main_cards_flipcard_info">
      <div class="card">
        <div class="container">
          <h4><b>Git Hub</b></h4>
          <p>These are some of my projects</p>
          <a href="https://github.com/roderickdevelopers" style="color: #3F51B5">RoderickDevelopers Github</a>
        </div>
      </div>
    </div>
  </div>
<div class="main_cards_info_container">
    <div class="main_cards_flipcard">
      <Card::Flipcard @imageFront={{imageFrontCardThree}} @imageBack={{imageBackCardThree}} />
    </div>
    <div class="main_cards_flipcard_info"> 
      <div class="card">
        <div class="container">
          <h4><b>Git Hub</b></h4>
          <p>These are some of my projects</p>
          <a href="https://github.com/roderickdevelopers" style="color: #3F51B5">RoderickDevelopers Github</a>
        </div>
      </div>
    </div>
  </div>
<div class="main_cards_info_container">
    <div class="main_cards_flipcard">
      <Card::Flipcard @imageFront={{imageFrontCardFour}} @imageBack={{imageBackCardFour}} />
    </div>
    <div class="main_cards_flipcard_info">
      <div class="card">
        <div class="container">
          <h4><b>Git Hub</b></h4>
          <p>These are some of my projects</p>
          <a href="https://github.com/roderickdevelopers" style="color: #3F51B5">RoderickDevelopers Github</a>
        </div>
      </div>
    </div>
  </div>
</div>







    




  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna
      aliqua. Porttitor leo a diam sollicitudin. Scelerisque in dictum non consectetur a erat nam at lectus. Potenti
      nullam ac tortor vitae purus faucibus. Malesuada fames ac turpis egestas sed tempus urna. Vel elit scelerisque
      mauris pellentesque. Quisque non tellus orci ac. Aenean euismod elementum nisi quis eleifend quam adipiscing
      vitae.
      Dignissim suspendisse in est ante. Lobortis mattis aliquam faucibus purus in massa tempor. Consectetur lorem donec
      massa sapien faucibus et. Tempor orci dapibus ultrices in iaculis nunc sed augue lacus. Ullamcorper velit sed
      ullamcorper morbi tincidunt. Gravida dictum fusce ut placerat orci.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna
      aliqua. Porttitor leo a diam sollicitudin. Scelerisque in dictum non consectetur a erat nam at lectus. Potenti
      nullam ac tortor vitae purus faucibus. Malesuada fames ac turpis egestas sed tempus urna. Vel elit scelerisque
      mauris pellentesque. Quisque non tellus orci ac. Aenean euismod elementum nisi quis eleifend quam adipiscing
      vitae.
      Dignissim suspendisse in est ante. Lobortis mattis aliquam faucibus purus in massa tempor. Consectetur lorem donec
      massa sapien faucibus et. Tempor orci dapibus ultrices in iaculis nunc sed augue lacus. Ullamcorper velit sed
      ullamcorper morbi tincidunt. Gravida dictum fusce ut placerat orci.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna
      aliqua. Porttitor leo a diam sollicitudin. Scelerisque in dictum non consectetur a erat nam at lectus. Potenti
      nullam ac tortor vitae purus faucibus. Malesuada fames ac turpis egestas sed tempus urna. Vel elit scelerisque
      mauris pellentesque. Quisque non tellus orci ac. Aenean euismod elementum nisi quis eleifend quam adipiscing
      vitae.
      Dignissim suspendisse in est ante. Lobortis mattis aliquam faucibus purus in massa tempor. Consectetur lorem donec
      massa sapien faucibus et. Tempor orci dapibus ultrices in iaculis nunc sed augue lacus. Ullamcorper velit sed
      ullamcorper morbi tincidunt. Gravida dictum fusce ut placerat orci.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna
      aliqua. Porttitor leo a diam sollicitudin. Scelerisque in dictum non consectetur a erat nam at lectus. Potenti
      nullam ac tortor vitae purus faucibus. Malesuada fames ac turpis egestas sed tempus urna. Vel elit scelerisque
      mauris pellentesque. Quisque non tellus orci ac. Aenean euismod elementum nisi quis eleifend quam adipiscing
      vitae.
      Dignissim suspendisse in est ante. Lobortis mattis aliquam faucibus purus in massa tempor. Consectetur lorem donec
      massa sapien faucibus et. Tempor orci dapibus ultrices in iaculis nunc sed augue lacus. Ullamcorper velit sed
      ullamcorper morbi tincidunt. Gravida dictum fusce ut placerat orci.</p>
  </div>

  <div class="main_cards_container">
 <div class="main_cards_info_container">
    <div class="main_cards_flipcard">
      <Card::Flipcard @imageFront={{imageFrontCardFive}} @imageBack={{imageBackCardFive}} />
    </div>
    <div class="main_cards_flipcard_info">
      <div class="card">
        <div class="container">
          <h4><b>Git Hub</b></h4>
          <p>These are some of my projects</p>
          <a href="https://github.com/roderickdevelopers" style="color: #3F51B5">RoderickDevelopers Github</a>
        </div>
      </div>
    </div>
  </div>
<div class="main_cards_info_container">
    <div class="main_cards_flipcard">
      <Card::Flipcard @imageFront={{imageFrontCardSix}} @imageBack={{imageBackCardSix}} />
    </div>
    <div class="main_cards_flipcard_info">
      <div class="card">
        <div class="container">
          <h4><b>Git Hub</b></h4>
          <p>These are some of my projects</p>
          <a href="https://github.com/roderickdevelopers" style="color: #3F51B5">RoderickDevelopers Github</a>
        </div>
      </div>
    </div>
  </div>
<div class="main_cards_info_container">
    <div class="main_cards_flipcard">
      <Card::Flipcard @imageFront={{imageFrontCardSeven}} @imageBack={{imageBackCardSeven}} />
    </div>
    <div class="main_cards_flipcard_info">
      <div class="card">
        <div class="container">
          <h4><b>Git Hub</b></h4>
          <p>These are some of my projects</p>
          <a href="https://github.com/roderickdevelopers" style="color: #3F51B5">RoderickDevelopers Github</a>
        </div>
      </div>
    </div>
  </div>
<div class="main_cards_info_container">
    <div class="main_cards_flipcard">
      <Card::Flipcard @imageFront={{imageFrontCardEight}} @imageBack={{imageBackCardEight}} />
    </div>
    <div class="main_cards_flipcard_info">
      <div class="card">
        <div class="container">
          <h4><b>Git Hub</b></h4>
          <p>These are some of my projects</p>
          {{!-- **link color after link** --}}
          <a href="https://github.com/roderickdevelopers" style="color: #3F51B5">RoderickDevelopers Github</a>
        </div>
      </div>
    </div>
  </div>
</div>

