

{{!-- <div class="header">
  <p>Roderick Developers</p>
</div> --}}

<div class="header_body">
  <p>roderickdevelopers.com</p>
</div>

{{!-- <div class="main_button_container">
  <div class="linkedin_button">
    <a href="https://www.linkedin.com/in/roderickdevelopers/">{{fa-icon "linkedin" size=2 style="color: black;"}}</a>
  </div>
  <div class="github_button">
    <a href="https://github.com/roderickdevelopers/">{{fa-icon "github" size=2 style="color: black;"}}</a>
  </div>
</div> --}}

<div class="p_one">
  <p>Hello my name is Matthew Roderick. I am very passionate about expanding my skills in web development and design. I
    started about six months ago with some coding classes (and no experience) and have since moved into building my own
    projects. I code whenever I can, putting in the hours everyday after work. I hope you like my first simple website!
    There will be a lot of projects added to this portfolio as I learn, so please come back from time to time and check
    out at my progress. My goal is to master every FreeCodeCamp course and add several more projects to this portfolio
    over the next year! </p>
</div>


<div class="main_cards_container">
  <div class="main_cards_info_container">
    <div class="main_cards_flipcard">
      <LinkTo @route="ember">
        <Card::Flipcard @imageFront={{this.imageFrontCardOne}} @imageBack={{this.imageBackCardOne}} />
      </LinkTo>
    </div>
  </div>

  <div class="main_cards_info_container">
    <div class="main_cards_flipcard">
      <LinkTo @route="github">
        <Card::Flipcard @imageFront={{this.imageFrontCardTwo}} @imageBack={{this.imageBackCardTwo}} />
      </LinkTo>
    </div>
  </div>

  <div class="main_cards_info_container">
    <div class="main_cards_flipcard">
      <LinkTo @route="studiocode">
        <Card::Flipcard @imageFront={{this.imageFrontCardThree}} @imageBack={{this.imageBackCardThree}} />
      </LinkTo>
    </div>
  </div>

  <div class="main_cards_info_container">
    <div class="main_cards_flipcard">
      <LinkTo @route="sketch">
        <Card::Flipcard @imageFront={{this.imageFrontCardFour}} @imageBack={{this.imageBackCardFour}} />
      </LinkTo>
    </div>
  </div>

</div>



<div class="main_cards_container">
  <div class="main_cards_info_container">
    <div class="main_cards_flipcard">
      <LinkTo @route="html">
        <Card::Flipcard @imageFront={{this.imageFrontCardFive}} @imageBack={{this.imageBackCardFive}} />
      </LinkTo>
    </div>
  </div>

  <div class="main_cards_info_container">
    <div class="main_cards_flipcard">
      <LinkTo @route="css">
        <Card::Flipcard @imageFront={{this.imageFrontCardSix}} @imageBack={{this.imageBackCardSix}} />
      </LinkTo>
    </div>
  </div>

  <div class="main_cards_info_container">
    <div class="main_cards_flipcard">
      <LinkTo @route="java">
        <Card::Flipcard @imageFront={{this.imageFrontCardSeven}} @imageBack={{this.imageBackCardSeven}} />
      </LinkTo>
    </div>
  </div>

  <div class="main_cards_info_container">
    <div class="main_cards_flipcard">
      <LinkTo @route="freecodecamp">
        <Card::Flipcard @imageFront={{this.imageFrontCardEight}} @imageBack={{this.imageBackCardEight}} />
      </LinkTo>
    </div>
  </div>


</div>

 