 <div class="linkedin_button">
    <a href="https://www.linkedin.com/in/roderickdevelopers/">{{fa-icon "linkedin" size=2 style="color: black;"}}</a>
 </div>

 <div class="header">
   <p>Roderick Developers</p>
 </div>

 <div class="header_body">
   <p>roderickdevelopers.com</p>
 </div>
 
 <div class="p_one">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna
      aliqua. Porttitor leo a diam sollicitudin. Scelerisque in dictum non consectetur a erat nam at lectus. Potenti
      nullam ac tortor vitae purus faucibus. Malesuada fames ac turpis egestas sed tempus urna. Vel elit scelerisque
      mauris pellentesque. Quisque non tellus orci ac. Aenean euismod elementum nisi quis eleifend quam adipiscing
      vitae.
      Dignissim suspendisse in est ante. Lobortis mattis aliquam faucibus purus in massa tempor. Consectetur lorem donec
      massa sapien faucibus et. Tempor orci dapibus ultrices in iaculis nunc sed augue lacus. Ullamcorper velit sed
      ullamcorper morbi tincidunt. Gravida dictum fusce ut placerat orci.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna
      aliqua. Porttitor leo a diam sollicitudin. Scelerisque in dictum non consectetur a erat nam at lectus. Potenti
      nullam ac tortor vitae purus faucibus. Malesuada fames ac turpis egestas sed tempus urna. Vel elit scelerisque
      mauris pellentesque. Quisque non tellus orci ac. Aenean euismod elementum nisi quis eleifend quam adipiscing
      vitae.
      Dignissim suspendisse in est ante. Lobortis mattis aliquam faucibus purus in massa tempor. Consectetur lorem donec
      massa sapien faucibus et. Tempor orci dapibus ultrices in iaculis nunc sed augue lacus. Ullamcorper velit sed
      ullamcorper morbi tincidunt. Gravida dictum fusce ut placerat orci.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna
      aliqua. Porttitor leo a diam sollicitudin. Scelerisque in dictum non consectetur a erat nam at lectus. Potenti
      nullam ac tortor vitae purus faucibus. Malesuada fames ac turpis egestas sed tempus urna. Vel elit scelerisque
      mauris pellentesque. Quisque non tellus orci ac. Aenean euismod elementum nisi quis eleifend quam adipiscing
      vitae.
      Dignissim suspendisse in est ante. Lobortis mattis aliquam faucibus purus in massa tempor. Consectetur lorem donec
      massa sapien faucibus et. Tempor orci dapibus ultrices in iaculis nunc sed augue lacus. Ullamcorper velit sed
      ullamcorper morbi tincidunt. Gravida dictum fusce ut placerat orci.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna
      aliqua. Porttitor leo a diam sollicitudin. Scelerisque in dictum non consectetur a erat nam at lectus. Potenti
      nullam ac tortor vitae purus faucibus. Malesuada fames ac turpis egestas sed tempus urna. Vel elit scelerisque
      mauris pellentesque. Quisque non tellus orci ac. Aenean euismod elementum nisi quis eleifend quam adipiscing
      vitae.
      Dignissim suspendisse in est ante. Lobortis mattis aliquam faucibus purus in massa tempor. Consectetur lorem donec
      massa sapien faucibus et. Tempor orci dapibus ultrices in iaculis nunc sed augue lacus. Ullamcorper velit sed
      ullamcorper morbi tincidunt. Gravida dictum fusce ut placerat orci.</p>
  </div>


<div class="main_cards_container">
 <div class="main_cards_info_container">
    <div class="main_cards_flipcard">
      <LinkTo @route="ember">
       <Card::Flipcard  @imageFront={{this.imageFrontCardOne}} @imageBack={{this.imageBackCardOne}} />
      </LinkTo> 
    </div>
  </div>

<div class="main_cards_info_container">
    <div class="main_cards_flipcard">
      <LinkTo @route="github">
      <Card::Flipcard @imageFront={{this.imageFrontCardTwo}} @imageBack={{this.imageBackCardTwo}} />
      </LinkTo> 
    </div>
  </div>

<div class="main_cards_info_container">
    <div class="main_cards_flipcard">
      <LinkTo @route="studiocode">
      <Card::Flipcard @imageFront={{this.imageFrontCardThree}} @imageBack={{this.imageBackCardThree}} />
      </LinkTo>
    </div>
  </div>

<div class="main_cards_info_container">
    <div class="main_cards_flipcard">
      <LinkTo @route="sketch">
      <Card::Flipcard @imageFront={{this.imageFrontCardFour}} @imageBack={{this.imageBackCardFour}} />
      </LinkTo>
    </div>
  </div>

</div>

 

  <div class="main_cards_container">
 <div class="main_cards_info_container">
    <div class="main_cards_flipcard">
      <LinkTo @route="html">
      <Card::Flipcard @imageFront={{this.imageFrontCardFive}} @imageBack={{this.imageBackCardFive}} />
      </LinkTo>
    </div>
  </div>

<div class="main_cards_info_container">
    <div class="main_cards_flipcard">
      <LinkTo @route="css">
      <Card::Flipcard @imageFront={{this.imageFrontCardSix}} @imageBack={{this.imageBackCardSix}} />
      </LinkTo>
    </div>
  </div>

<div class="main_cards_info_container">
    <div class="main_cards_flipcard">
      <LinkTo @route="java">
      <Card::Flipcard @imageFront={{this.imageFrontCardSeven}} @imageBack={{this.imageBackCardSeven}} />
      </LinkTo>
    </div>
  </div>

<div class="main_cards_info_container">
    <div class="main_cards_flipcard">
      <LinkTo @route="jquery">
      <Card::Flipcard @imageFront={{this.imageFrontCardEight}} @imageBack={{this.imageBackCardEight}} />
      </LinkTo>
    </div>
  </div>

      
</div>

 {{!-- <div class="p_two">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna
      aliqua. Porttitor leo a diam sollicitudin. Scelerisque in dictum non consectetur a erat nam at lectus. Potenti
      nullam ac tortor vitae purus faucibus. Malesuada fames ac turpis egestas sed tempus urna. Vel elit scelerisque
      mauris pellentesque. Quisque non tellus orci ac. Aenean euismod elementum nisi quis eleifend quam adipiscing
      vitae.
      Dignissim suspendisse in est ante. Lobortis mattis aliquam faucibus purus in massa tempor. Consectetur lorem donec
      massa sapien faucibus et. Tempor orci dapibus ultrices in iaculis nunc sed augue lacus. Ullamcorper velit sed
      ullamcorper morbi tincidunt. Gravida dictum fusce ut placerat orci.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna
      aliqua. Porttitor leo a diam sollicitudin. Scelerisque in dictum non consectetur a erat nam at lectus. Potenti
      nullam ac tortor vitae purus faucibus. Malesuada fames ac turpis egestas sed tempus urna. Vel elit scelerisque
      mauris pellentesque. Quisque non tellus orci ac. Aenean euismod elementum nisi quis eleifend quam adipiscing
      vitae.
      Dignissim suspendisse in est ante. Lobortis mattis aliquam faucibus purus in massa tempor. Consectetur lorem donec
      massa sapien faucibus et. Tempor orci dapibus ultrices in iaculis nunc sed augue lacus. Ullamcorper velit sed
      ullamcorper morbi tincidunt. Gravida dictum fusce ut placerat orci.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna
      aliqua. Porttitor leo a diam sollicitudin. Scelerisque in dictum non consectetur a erat nam at lectus. Potenti
      nullam ac tortor vitae purus faucibus. Malesuada fames ac turpis egestas sed tempus urna. Vel elit scelerisque
      mauris pellentesque. Quisque non tellus orci ac. Aenean euismod elementum nisi quis eleifend quam adipiscing
      vitae.
      Dignissim suspendisse in est ante. Lobortis mattis aliquam faucibus purus in massa tempor. Consectetur lorem donec
      massa sapien faucibus et. Tempor orci dapibus ultrices in iaculis nunc sed augue lacus. Ullamcorper velit sed
      ullamcorper morbi tincidunt. Gravida dictum fusce ut placerat orci.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna
      aliqua. Porttitor leo a diam sollicitudin. Scelerisque in dictum non consectetur a erat nam at lectus. Potenti
      nullam ac tortor vitae purus faucibus. Malesuada fames ac turpis egestas sed tempus urna. Vel elit scelerisque
      mauris pellentesque. Quisque non tellus orci ac. Aenean euismod elementum nisi quis eleifend quam adipiscing
      vitae.
      Dignissim suspendisse in est ante. Lobortis mattis aliquam faucibus purus in massa tempor. Consectetur lorem donec
      massa sapien faucibus et. Tempor orci dapibus ultrices in iaculis nunc sed augue lacus. Ullamcorper velit sed
      ullamcorper morbi tincidunt. Gravida dictum fusce ut placerat orci.</p>
  </div> --}}
